

<!DOCTYPE html>
<html lang="en">
<head>
<title>:- DM Diagnosis :-</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="css/style1.css" rel="stylesheet">
<script src="js/categoryrank-calc.js" type="text/javascript"></script>
<script src="js/validatequestion.js" type="text/javascript"></script>
<script src="js/jquery-latest.js" type="text/javascript"></script>
<script>
function save_commanage()
{
	
	var str= $("form").serialize();
	//alert(str);
	$.ajax({
		url: 'save_com.php',
		type: "POST",
		async: false,
		data:"&"+str,
		success: function(data) {
		//	alert(data);
									if(data== 1){
										
										window.location.href='cost-management.php?msg=1';
										return false;
							
									}else if(data == 2)
										{
											//alert(data);	
											window.location.href ='cost-management.php?msg=2';
											return false;
										}else if(data == 0)			
											{				
												//alert(data);
												window.location.href ='cost-management.php?msg=3';
												return false;
											}
								}
		});
}
function validatecomments() 
{
	alert("Confirm Saving all Data Sheet");
	  var com1 = document.getElementById('diagnosis_result_com').value;
	  var com2 = document.getElementById('kaizen_idea_com').value;
	
	if(com1.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("diagnosis_result_com").focus();
		return false;
	}
	if(com2.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("kaizen_idea_com").focus();
		return false;
	}
	
	document.getElementById("hdaction").value=1;
	//return true;
	 save_commanage();
	
}
function validatecomments1() 
{
	// alert("Are you confirm for Submit all Data Sheet");
	  var com1 = document.getElementById('diagnosis_result_com').value;
	  var com2 = document.getElementById('kaizen_idea_com').value;
	
	if(com1.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("diagnosis_result_com").focus();
		return false;
	}
	if(com2.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("kaizen_idea_com").focus();
		return false;
	}
	
	document.getElementById("hdaction").value=1;
	//return true;
	 save_commanage();
	
}
</script>

</head>

<body>
	<div class="container">
		<div class="title">
			
			

<h2 style="text-align: center; display: inline-block; width: 100%;">
				Daily Management Diagnosis  <span style="float: right;"><a
					class="logout" href="Logout.php">Logout</a> </span>
</h2>
<div>
<ul class="menu">
<li> <a  href="tqm-teamwork.php">TQM & Teamwork</a></li>
<li> <a  href="quality-management.php">Quality Management</a></li>
<li> <a  href="standard-operation.php">Standard Operation</a></li>
<li> <a  href="skill-management.php">Skill Management</a></li>
<li> <a  href="work-allocation.php">Work Allocation</a></li>
<li> <a  href="facility-management.php">Facility Management</a></li>
<li> <a  href="safety-environment.php">Safety & Environment</a></li>
<li> <a  class="active"  href="cost-management.php">Cost Management</a></li>
<li> <a  href="report.php" style="border-right:none;">Report</a></li>


<li> <a  href="zone_change.php" style="border-right:none;">Zone Change</a></li>

<li> <a  href="allreport.php" style="border-right:none;">All Report</a></li>

<div class="clear"></div>
</ul>

</div>			<h3>Diagnosis Category : Cost Management</h3>
			<span id="details-tag" style="width: 100%; text-align: right; float: right;">
			<td class="border0 padd1"><b>Auditee:</b></td>
			<td class="border0 edit-data"></td><br>
			<td class="border0 padd1"><b>Auditor:</b></td>
			<td class="border0 edit-data">Suresh kumar.M </td>
			</span>
		</div>
		<div id="message"
			style="color: green; text-align: center; font-weight: bold;">
					</div>
		<div id="message"
			style="color: red; text-align: center; font-weight: bold;">
					</div>
		&nbsp; &nbsp; &nbsp; &nbsp;
		<div class="table-div">
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<form name="cost_manage">
						<input type="hidden" id="hdaction" name="hdaction" value="">
												

						<tr class="bg-gray">
							<th style="width: 10%;" rowspan="2">Evaluation Item</th>
							<th style="width: 7%" class="small" colspan="5">Level</th>
							<th style="width: 20%;" rowspan="2">Alliance Compliance
								Requirement</th>
							<th style="width: 20%;" rowspan="2">Check Item</th>
							<th style="width: 7%" class="small" colspan="4">How</th>
							<th class="big" rowspan="2">Evaluation / Scoring Standard to
								achieve level</th>
						</tr>
						<tr class="bg-gray">
							<th style="width: 1%">1</th>
							<th style="width: 1%">2</th>
							<th style="width: 1%">3</th>
							<th style="width: 1%">4</th>
							<th style="width: 1%">5</th>
							<th>S</th>
							<th>D</th>
							<th>O</th>
							<th>G</th>

							<!--Cost management row -->

							<!--1st row -->
														<input type="hidden" name="hicom11" id="hicom11"
								value="">
						
						
						<tr>
							<td rowspan="13" class="text-center"><b>Cost Management</b></td>
							<td class="padd0 text-center"><select name="costlevel_11"
								id="costlevel_11" onchange="level11com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-1 The zone has target values to manage Headcount.</td>
							<td>
								<ul>
									<li>* Zone Headcount Target</li>
							
							</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* Headcount target has been established for the zone.</li>

								</ul>
							</td>

						</tr>
						<!-- 2nd row-->
												<input type="hidden" name="hicom12" id="hicom12"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="costlevel_12"
								id="costlevel_12" onchange="level12com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-2 The zone has budget allocated and has target values to
								manage Overheads.</td>
							<td>
								<ul>
									<li>* Overheads Budget / Target</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The zone must have a budget / target to manage Overheads.</li>

								</ul>
							</td>

						</tr>

						<!-- 2nd row-->
												<input type="hidden" name="hicom13" id="hicom113"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="costlevel_13"
								id="costlevel_13" onchange="level13com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-3 There is a budget allocation process and when needed, budget is allocated for Non Production Overtime in the zone</td>
							<td>
								<ul>
									<li>Zone OT Budget / Target</li>
									<li>Budget allocation process</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>Budget allocation process is known and allocated when necessary for zone Non Production Overtime.</li>

								</ul>
							</td>

						</tr>
						<!-- 2nd row-->
												<input type="hidden" name="hicom14" id="hicom14"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="costlevel_14"
								id="costlevel_14" onchange="level14com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-4 The zone has budget allocated and has target values to
								manage Scrap.</td>
							<td>
								<ul>
									<li>* Zone Scrap Budget / Target</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* Scrap target and tracking exist for the zone.</li>

								</ul>
							</td>

						</tr>

						<!-- row4-->
												<input type="hidden" name="hicom21" id="hicom121"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_21"
								id="costlevel_21" onchange="level21com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-1 The zone has a method for managing / controlling
								Headcount and can demonstrate Monthly control of Headcount /
								DSTR verses target.</td>
							<td>
								<ul>
									<li>* Headcount tracking</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The zone must have a method for managing / controlling
										Headcount.Monthly control of Headcount against target exist</li>

								</ul>
							</td>

						</tr>
						<!-- row4-->
												<input type="hidden" name="hicom22" id="hicom22"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_22"
								id="costlevel_22" onchange="level22com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-2 The zone has a method for managing / controlling
								Overheads and can demonstrate daily control of expenditure
								verses target.</td>
							<td>
								<ul>
									<li>* Overheads tracking</li>

								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The zone must have a method for managing / controlling
										Overheads.Daily control of Overheads against target is a must.</li>

								</ul>
							</td>
														<input type="hidden" name="hicom23" id="hicom23"
								value="">
						</tr>
						<!-- row4-->
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_23"
								id="costlevel_23" onchange="level23com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-3 The zone has a method for managing / controlling Non
								Production Overtime and can demonstrate daily control of
								expenditure verses target.</td>
							<td>
								<ul>
									<li>* Zone OT tracking</li>

								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The zone must have a method for managing / controlling
										Non Production Overtime.</li>
									<li>* Daily control of Non Production Overtime against target
										is a must.</li>
								</ul>
							</td>

						</tr>
						<!-- row4-->
												<input type="hidden" name="hicom24" id="hicom24"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_24"
								id="costlevel_24" onchange="level24com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-4 The zone has a method for managing / controlling Scrap
								and can demonstrate daily control of expenditure verses target.</td>
							<td>
								<ul>
									<li>* Zone Scrap Tracking</span></li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The zone must have a daily control method for managing /
										controlling scrap.</li>
							
							</td>

						</tr>
						<!-- row5-->
												<input type="hidden" name="hicom31" id="hicom31"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_31"
								id="costlevel_31" onchange="level31com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-1 The zones cost factors are analysed by concern and the SV can explain any issues preventing them from achieving any targets</td>
							<td>
								<ul>
									<li>Control Charts / Tracking Documentation
									<li>Cost breakdown</li>

								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>The zones Cost factors are being broken down by issue and the Supervisor can explain the issues preventing the zone achieving it's cost targets. </li>


								</ul>
							</td>

						</tr>



						<!-- row6-->
												<input type="hidden" name="hicom41" id="hicom41"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_41"
								id="costlevel_41" onchange="level41com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td>4-1 The Supervisor has cost reduction strategies in place and
								has implemented countermeasures to issues affecting budget
								achievement.</td>
							<td>
								<ul>
									<li>* Countermeasures for Cost reduction Opportunities.</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* The Supervisor must have cost reduction strategies in
										place and countermeasures to issues affecting budget
										achievement.</li>

								</ul>
							</td>

						</tr>


						<!-- row8-->
												<input type="hidden" name="hicom51" id="hicom51"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_51"
								id="costlevel_51" onchange="level51com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-1 All year-to-date Cost targets are achieved.</td>
							<td>
								<ul>
									<li>* Control Charts / Tracking</li>

								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* All year-to-date Cost targets must be achieved.</li>
								</ul>
							</td>

						</tr>

						<!-- row7-->
												<input type="hidden" name="hicom52" id="hicom52"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_52"
								id="costlevel_52" onchange="level52com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-2 The zone is actively looking to reduce Costs and can
								demonstrate adoption of Best Practice cost reduction ideas from
								other areas / Plants. These should include cost reduction for
								Direct Materials usage.</td>
							<td>
								<ul>
									<li>* Best Practice adoption</li>

								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<ul>
									<li>* The Supervisor must be able to demonstrate adoption of
										Best Practice cost reduction ideas from other areas / Plants.
										These should include cost reduction for Direct Materials
										usage.</li>
								</ul>
							</td>

						</tr>
						<!-- row7-->
												<input type="hidden" name="hicom53" id="hicom53"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="costlevel_53"
								id="costlevel_53" onchange="level53com();">
									<option value="0" 										selected="selected"
																				selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-3 The zone can demonstrate examples of innovation for cost
								reduction which are worthy of sharing with other Plants as Best
								Practice.</td>
							<td>
								<ul>
									<li>* Creation of Best Practices for Cost Reduction</li>

								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<ul>
									<li>* The Supervisor must be able to demonstrate examples of
										innovation for cost reduction idea's which are worthy of
										sharing with other Plants as Best Practice.</li>
								</ul>
							</td>

						</tr>
						
						<!--- for comments form auditor ---->
						
											<input type="hidden" name="Commentidcom" id="Commentidcom"
							value="">
						<tr >
							
							<td colspan="7" style="text-align: center;"><b>Diagnosis Result<br>
												(Result comments from Auditor)<b></td>
							<td colspan="6" style="text-align: center; color: blue;"><b >Kaizen Idea<br>
												(Recommended actions from the Auditor)</b></td>
						</tr>
						<tr >
							<td colspan="7" class="item2"><textarea rows="7" cols="50" id="diagnosis_result_com" name="diagnosis_result_com" style="width: 99%;" spellcheck="true" ></textarea></td>
							<td colspan="6" class="item2"><textarea rows="7" cols="50" id="kaizen_idea_com" name="kaizen_idea_com" style="width: 99%;" spellcheck="true" ></textarea></td>
						</tr>
						<!--- for comments form auditor  ------------->
						
						<tr class="item1">
							<td colspan="6"><b>Category Score<b>
							
							</td>
							<td colspan="2" rowspan="5" class="item2"><b class="score-tit">Diagnosis
									Method:</b><br> 1. Commence diagnosis for level 1 for each
								Evaluation Item.<br> 2. Continue the diagnosis by level, if the
								Supervisors fails to deliver the Compliance Requirement within a
								level, complete the rest of the level and stop the diagnosis
								scoring for that particular Evaluation Item. If item is not
								applicable give the score and move to next item.<br> 3. For
								Diagnosis categories with more than 1 Evaluation Item, repeat
								step 2 for the next Evaluation Item.</td>
							<td colspan="5" rowspan="5" class="item2"><b class="score-tit">Key:</b><br>
								S = Talk to and request information from the Supervisor.<br> D =
								Request to see and then validate documentation.<br> O = Talk to
								and request information from the Operator.<br> G = Validate the
								actual condition in the Genba (shop floor).</td>

						</tr>
												<input type="hidden" name="c_id" id="c_id"
							value=""> <input type="hidden"
							name="score1" id="score1"
							value="0">
						<input type="hidden" name="score2" id="score2"
							value="0">
						<input type="hidden" name="score3" id="score3"
							value="0">
						<input type="hidden" name="score4" id="score4"
							value="0">
						<input type="hidden" name="score5" id="score5"
							value="0">
						<tr>
							<td>Available score</td>
							<td>/4</td>
							<td>/4</td>
							<td>/1</td>
							<td>/1</td>
							<td>/3</td>
						</tr>
						<tr>
							<td>Actual Score</td>
							<td id="level1">0							</td>
							<td id="level2">0							</td>
							<td id="level3">0							</td>
							<td id="level4">0							</td>
							<td id="level5">0							</td>
						</tr>
						<input type="hidden" name="achieve1" id="achieve1"
							value="0">
						<input type="hidden" name="achieve2" id="achieve2"
							value="0">
						<input type="hidden" name="achieve3" id="achieve3"
							value="0">
						<input type="hidden" name="achieve4" id="achieve4"
							value="0">
						<input type="hidden" name="achieve5" id="achieve5"
							value="0">
						<tr>
							<td>Achievement %</td>
							<td id="achievement1">0%</td>
							<td id="achievement2">0%</td>
							<td id="achievement3">0%</td>
							<td id="achievement4">0%</td>
							<td id="achievement5">0%</td>
						</tr>
						<tr>
							<td>Category Rank</td>
							<input type="hidden" name="category" id="category"
								value="0.0">
							<td colspan="5" class="text-center" id="category-rank">0.0							</td>
						</tr>
				
				</tbody>

			</table>


		</div>

	</div>
	<div style="float: right">
		<button type="button" class="next" onclick="validatecomments1();">Save</button>
		<button type="button" class="next" onclick="validatecomments();">Submit</button>
		</form>

</body>
</html>
