
<!DOCTYPE hskml>
<html lang="en">
<head>
<title>:- DM Diagnosis :-</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="css/style1.css" rel="stylesheet">
<script src="js/jquery-latest.js" type="text/javascript"></script>
<script src="js/categoryrank-calc.js" type="text/javascript"></script>
<script src="js/validatequestion.js" type="text/javascript"></script>
<script>
function saveskm()
{
	//alert("hi");
	var str= $("form").serialize();
	//alert(str);
	$.ajax({
		url: 'save_skm.php',
		type: "POST",
		async: false,
		data:"&"+str,
		success: function(data) {
						//alert(data);
									if(data== 1){
										
										window.location.href='skill-management.php?msg=1';
										return false;
							
									}else if(data == 2)
										{
											//alert(data);	
											window.location.href ='skill-management.php?msg=2';
											return false;
										}else if(data == 0)			
											{				
												//alert(data);
												window.location.href ='skill-management.php?msg=3';
												return false;
											}
								}
		 });
	return false;
	
}
function validatecomments() 
{
	  
	var skm1 = document.getElementById('diagnosis_result_skm').value;
    var skm2 = document.getElementById('kaizen_idea_skm').value;
    
	if(skm1.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("diagnosis_result_skm").focus();
		return false;
	}
	if(skm2.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("kaizen_idea_skm").focus();
		return false;
	}
	
	document.getElementById("hdaction").value=1;
	//return true;
	 saveskm();
	
}
</script>
</head>

<body>
	<div class="container">
		<div class="title">
			
				

<h2 style="text-align: center; display: inline-block; width: 100%;">
				Daily Management Diagnosis  <span style="float: right;"><a
					class="logout" href="Logout.php">Logout</a> </span>
</h2>
<div>
<ul class="menu">
<li> <a  href="tqm-teamwork.php">TQM & Teamwork</a></li>
<li> <a  href="quality-management.php">Quality Management</a></li>
<li> <a  href="standard-operation.php">Standard Operation</a></li>
<li> <a  class="active"  href="skill-management.php">Skill Management</a></li>
<li> <a  href="work-allocation.php">Work Allocation</a></li>
<li> <a  href="facility-management.php">Facility Management</a></li>
<li> <a  href="safety-environment.php">Safety & Environment</a></li>
<li> <a  href="cost-management.php">Cost Management</a></li>
<li> <a  href="report.php" style="border-right:none;">Report</a></li>


<li> <a  href="zone_change.php" style="border-right:none;">Zone Change</a></li>

<li> <a  href="allreport.php" style="border-right:none;">All Report</a></li>

<div class="clear"></div>
</ul>

</div>				<h3>Diagnosis Category : HR Development & Skill Management</h3>
				<span id="details-tag" style="width: 100%; text-align: right; float: right;">
			<td class="border0 padd1"><b>Auditee:</b></td>
			<td class="border0 edit-data"></td><br>
			<td class="border0 padd1"><b>Auditor:</b></td>
			<td class="border0 edit-data">Suresh kumar.M </td>
			</span>
		</div>
			<div id="message"
				style="color: green; text-align: center; font-weight: bold;">
							</div>
		<div id="message"
			style="color: red; text-align: center; font-weight: bold;">
					</div>
		&nbsp; &nbsp; &nbsp; &nbsp;
			<div class="table-div">
			<form name="SKM" method="post" action="">
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<input type="hidden" name="hdaction" id="hdaction" value="">
						<tr class="bg-gray">
							<th style="width: 10%;" rowspan="2">Evaluation Item</th>
							<th style="width: 7%" class="small" colspan="5">Level</th>
							<th style="width: 20%;" rowspan="2">Alliance Compliance
								Requirement</th>
							<th style="width: 20%;" rowspan="2">Check Item</th>
							<th style="width: 7%" class="small" colspan="4">How</th>
							<th class="big" rowspan="2">Evaluation / Scoring Standard to
								achieve level</th>
						</tr>
						<tr class="bg-gray">
							<th style="width: 1%">1</th>
							<th style="width: 1%">2</th>
							<th style="width: 1%">3</th>
							<th style="width: 1%">4</th>
							<th style="width: 1%">5</th>
							<th>S</th>
							<th>D</th>
							<th>O</th>
							<th>G</th>

							<!--Standar opertation row -->

							<!--1st row -->
														<input type="hidden" name="hiskm11" id="hiskm11"
								value="">
						
						
						<tr>
							<td rowspan="16" class="text-center"><b>Skill Management</b></td>
							<td class="padd0 text-center"><select name="skm_11" id="skm_11"
								onchange="level11skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-1 There is a standard Shop Induction Package method for all new operators which includes an introduction to the Company, Shop and the Zone.</td>
							<td>
								<ul>
									<li>* Induction Package for new Team Member(shop,Zone)</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>Minimum Shop Induction package should include; Zone Safety 5S expectations, QRQC call standard, Shop mgt. structure and introductions and Shift information (work patterns, start and stop times including breaks)..</td>

						</tr>
						<!-- 2nd row-->
												<input type="hidden" name="hiskm12" id="hiskm12"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="skm_12" id="skm_12"
								onchange="level12skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-2 The Supervisor provides an Operator Training Module which includes an
								Off Line Basic Skills program to all new operators attend prior
								to commencing On Line training.</td>
							<td>
								<ul>
									<li>* Shop specific Basic Skills program.</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<ul>
									<li>* The shop has a Basic Skills training area / program.</li>
									<li>* All newcomers have attended before commencing on-line
										training.</li>
									<ul>
							
							</td>

						</tr>
						<!-- 3 rd row-->
												<input type="hidden" name="hiskm13" id="hiskm13"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="skm_13" id="skm_13"
								onchange="level13skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-3 Check that annual/monthly training plans and Succcession plan are created.
								The Supervisor has training plans that meet the needs of
								his zone - this should also include non cyclic
								operations.Operator personal development for succession planning
								is considered.</td>
							<td>
								<ul>
									<li>* ILU Planning Matrix.</li>
									<li>* Annual Training plan.</li>
									<li>* Succession plan.</li>
									<li><span class="colorred">* Personal development plans.</span>
									</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* There is an Annual and Monthly training plan for the
										zone.</li>
									<li>* Annual plan reflects long term needs to achieve WTB.</li>
									<li><span class="colorred">*Succession Plans in place with
											names and skill requirements.</span></li>
									<ul>
							
							</td>

						</tr>
						<!-- 3rd A row-->
												<input type="hidden" name="hiskm14" id="hiskm14"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="skm_14" id="skm_14"
								onchange="level14skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-4 Skills and knowledge requirements for the zone are
								specified in the Operation Requirement Table (ORT) and the
								training material is available.</td>
							<td>
								<ul>
									<li>* Operation Requirement Table .</li>
									<li>* Knowledge and Skill training material.</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* ORT contains knowledge and skill requirements for the
										zone.</li>
									<li>* Training material exists for zone Knowledge and Skill
										requirements as specified in ORT.</li>
									<ul>
							
							</td>

							<!-- row4-->
														<input type="hidden" name="hiskm21" id="hiskm21"
								value="">
						
						
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="skm_21" id="skm_21"
								onchange="level21skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-1 Training records exist for all operators and include
								details of Induction, Basic Skills, On line assignments and
								special skills / personal development training.</td>
							<td>
								<ul>
									<li>* Training records</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* Required Training Records exists for all Operators
										reviewed.</li>
								</ul>
							</td>

						</tr>
						<!-- row4A-->
												<input type="hidden" name="hiskm22" id="hiskm22"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="skm_22" id="skm_22"
								onchange="level22skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-2 The ILU criteria is defined.Training Plan / ILU for the
								current month meets the needs of the zone and reflects the
								actual skill levels of operators.</td>
							<td>
								<ul>
									<li>* ILU Criteria.</li>
									<li>* ILU Matrix.</li>
									<li>* Data to support ILU criteria (Training Plans).</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<ul>
									<li>* ILU criteria has been defined and includes both Time and
										Quality.</li>
									
									<li>* Reviewed Operators meet criteria for assigned level.(Check "L" level operators)</li>
									
								</ul>
							</td>
							<!-- row4B-->
														<input type="hidden" name="hiskm23" id="hiskm23"
								value="">
						</tr>
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="skm_23" id="skm_23"
								onchange="level23skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-3 Training is carried out by competent persons that have
								been instructed how to teach using 3 Step Teaching Method.</td>
							<td>
								<ul>
									<li>* 3 Step training capability.</li>
								</ul>
							</td>

							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td>
								<ul>
									<li>* Supervisor and Leader can demonstrate 3 Step Training
										correctly.</li>
							
							</td>

							<!-- row 2-4-->
														<input type="hidden" name="hiskm24" id="hiskm24"
								value="">
						</tr>
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="skm_24" id="skm_24"
								onchange="level24skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-4 Assignments for new operators is based on assignment
								grading in ORT.</td>
							<td>
								<ul>
									<li>* ILU Planning Matrix.</li>
									<li>* ORT.</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* New Team Members are assigned to "C" level operations
										within the zone.</li>
									<li>* Operations that new comers enter are defined in ORT.</li>
								</ul>
							</td>

							<!-- row5-->
														<input type="hidden" name="hiskm31" id="hiskm31"
								value="">
						
						
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_31" id="skm_31"
								onchange="level31skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-1 Check the actual operation of L level operator, and check the criteria.
								There is a method in place to validate training progress
								and 'L' level attainment.</td>
							<td>
								<ul>
									<li>* Job Observation sheet</li>
									<li>* Allocation SOS</li>
									<li>* Individual training record</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<ul>
									<li>There is documented evidence that the Supervisor is
										validating Operators training progress at each level (ILU)</li>
								</ul>
							</td>

						</tr>
						<!-- row5B-->
												<input type="hidden" name="hiskm32" id="hiskm32"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_32" id="skm_32"
								onchange="level32skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-2 Where training has varied from plan, the Supervisor
								understands the issues (volume fluctuation, headcount changes
								etc.) and can demonstrate the changes this has caused and
								explain future plans.</td>
							<td>
								<ul>
									<li>* Monthly/Annual Training plan</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* Supervisor understands future changes that will affect
										the needs of the zone.</li>
									<li>* Training plans (Annual / Monthly) reflect training needs
										based on future 4M changes.</li>
								</ul>
							</td>

						</tr>

						<!-- row5B-->
												<input type="hidden" name="hiskm33" id="hiskm33"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_33" id="skm_33"
								onchange="level33skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-3 The Supervisor can explain the progress of Succession plan that created in 1-3.
								The Supervisor is giving the people identified in their
								succession plans, the opportunity to practice the skills.</td>
							<td>
								<ul>
									<li>* Records of skill practice ( Performance Appraisal,
										Personal Fact Files, Training records …)</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>* The Supervisor can demonstrate how the candidates practice
								the skills required for succession.</td>

						</tr>

						<!-- row6-->
												<input type="hidden" name="hiskm41" id="hiskm41"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_41" id="skm_41"
								onchange="level41skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td>4-1 100% achievement of 1Man 2Jobs and 1Job 2Men at 'L'
								level.(Exclude new starters less than 6 months in the zone).
								Operators understand Quality Assurance points in their jobs. 
							</td>
							<td>
								<ul>
									<li>* ILU Matrix</li>
									<li>* ORT</li>
									<li>* QIB, LLR, 3MIS</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td>
								<ul>
								<li>* All Operators who have been in the zone for six months can
								complete two jobs to 'L' level and each job can be covered by
								two 'L' level Operators. </li>
								<li>*Operators understand QA points in their jobs.</li>
							   </ul>
							</td>

						</tr>

						<!-- row6 B-->
												<input type="hidden" name="hiskm42" id="hiskm42"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_42" id="skm_42"
								onchange="level42skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td>4-2 100% achievement of 1M3J and 1J3M at L level.(Exclude new
								starters less than 6 months in the zone).</span></td>
							<td>
								<ul>
									<li>* ILU Matrix</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>* All Operators who have been in the zone for six months can
								complete three jobs to 'L' level and each job can be covered by
								three 'L' level Operators.</td>

						</tr>
						<!-- row8-->
												<input type="hidden" name="hiskm51" id="hiskm51"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_51" id="skm_51"
								onchange="level51skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-1 Optimum Job Flexibility is attained.100% achievement of
								3MAJ at L level.</td>
							<td>
								<ul>
									<li>* ILU Matrix</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>* There are three Operators who are at 'L' level for all of
								the Operations within the zone.</td>

						</tr>

						<!-- row7-->
												<input type="hidden" name="hiskm52" id="hiskm52"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_52" id="skm_52"
								onchange="level52skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-2 All Quality objectives are achieving target level for >1
								month.</td>
							<td>
								<ul>
									<li>* Quality Data.</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>* There are no defects which can be attributed to Operator
								error within the last month.</td>

						</tr>
						<!-- row7-->
												<input type="hidden" name="hiskm53" id="hiskm53"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="skm_53" id="skm_53"
								onchange="level53skm();">
									<option value="0" 										selected="selected"  selected="selected">0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-3 Team Leaders have been trained at all work stations in
								the zone before and after their process (Customer & Supplier)
								and can perform at least 1 job at L level. Validation of L level
								takes place every month.</span></td>
							<td>
								<ul>
									<span class="colorred">
										<li>* ILU</li>
										<li>* Training Records</li> </span>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td><span class="colorred">* Training records must contain
									evidence that up & down stream flexibility exists.</span>
							</td>

						</tr>
					<!--- for comments form auditor ---->
											<input type="hidden" name="Commentidskm" id="Commentidskm"
							value="">
						<tr >
							
							<td colspan="7" style="text-align: center;"><b>Diagnosis Result<br>
												(Result comments from Auditor)<b></td>
							<td colspan="6" style="text-align: center; color: blue;"><b >Kaizen Idea<br>
												(Recommended actions from the Auditor)</b></td>
						</tr>
						<tr >
							<td colspan="7" class="item2"><textarea rows="7" cols="50" id="diagnosis_result_skm" name="diagnosis_result_skm" style="width: 99%;" spellcheck="true" ></textarea></td>
							<td colspan="6" class="item2"><textarea rows="7" cols="50" id="kaizen_idea_skm" name="kaizen_idea_skm" style="width: 99%;" spellcheck="true" ></textarea></td>
						</tr>
						<!--- for comments form auditor  ------------->
						
						<tr class="item1">
							<td colspan="6"><b>Category Score<b>
							
							</td>
							<td colspan="2" rowspan="5" class="item2"><b class="score-tit">Diagnosis
									Method:</b><br> 1. Commence diagnosis for level 1 for each
								Evaluation Item.<br> 2. Continue the diagnosis by level, if the
								Supervisors fails to deliver the Compliance Requirement within a
								level, complete the rest of the level and stop the diagnosis
								scoring for that particular Evaluation Item. If item is not
								applicable give the score and move to next item.<br> 3. For
								Diagnosis categories with more than 1 Evaluation Item, repeat
								step 2 for the next Evaluation Item.</td>
							<td colspan="5" rowspan="5" class="item2"><b class="score-tit">Key:</b><br>
								S = Talk to and request information from the Supervisor.<br> D =
								Request to see and then validate documentation.<br> O = Talk to
								and request information from the Operator.<br> G = Validate the
								actual condition in the Genba (shop floor).</td>

						</tr>
												<input type="hidden" name="c_id" id="c_id"
							value="">
						<input type="hidden" name="score1" id="score1"
							value="0">
						<input type="hidden" name="score2" id="score2"
							value="0">
						<input type="hidden" name="score3" id="score3"
							value="0">
						<input type="hidden" name="score4" id="score4"
							value="0">
						<input type="hidden" name="score5" id="score5"
							value="0">
						<tr>
							<td>Available score</td>
							<td>/4</td>
							<td>/4</td>
							<td>/3</td>
							<td>/2</td>
							<td>/3</td>
						</tr>
						<tr>
							<td>Actual Score</td>
							<td id="level1">0							</td>
							<td id="level2">0							</td>
							<td id="level3">0							</td>
							<td id="level4">0							</td>
							<td id="level5">0							</td>
						</tr>
						<input type="hidden" name="achieve1" id="achieve1"
							value="0">
						<input type="hidden" name="achieve2" id="achieve2"
							value="0">
						<input type="hidden" name="achieve3" id="achieve3"
							value="0">
						<input type="hidden" name="achieve4" id="achieve4"
							value="0">
						<input type="hidden" name="achieve5" id="achieve5"
							value="0">
						<tr>
							<td>Achievement %</td>
							<td id="achievement1">0%</td>
							<td id="achievement2">0%</td>
							<td id="achievement3">0%</td>
							<td id="achievement4">0%</td>
							<td id="achievement5">0%</td>
						</tr>
						<tr>
							<td>Category Rank</td>
							<input type="hidden" name="category" id="category"
								value="0.0">
							<td colspan="5" class="text-center" id="category-rank">0.0							</td>
						</tr>
					</tbody>

				</table>
					<div style="float: right">
						<button type="button" class="next" onclick="validatecomments();">Save</button>
					</div>
				</form>

			
		</div>
	</div>

</body>
</html>
