<!DOCTYPE html>
<html lang="en">
<head>
<title>:- DM Diagnosis :-</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{!-- <link href="css/style1.css" rel="stylesheet"> --}}
<link href="../css/style1.css" rel="stylesheet">
<script src="js/jquery-latest.js" type="text/javascript"></script>
<script src="js/calculation.js" type="text/javascript"></script>
<script src="js/categoryrank-calc.js" type="text/javascript"></script>

<script>  
  function save()
	{
	
	var str= $("form").serialize();
		$.ajax({
		url: 'save_tqm.php',
		type: "POST",
		async: false,
		data:"&"+str,
		success: function(data) {
			//alert(data);
						if(data== '1'){							
									window.location.href='tqm-teamwork.php?msg=1';
									return false;
							
									}else if(data == '2')
										{
										window.location.href ='tqm-teamwork.php?msg=2';
										return false;
										}else if(data == '0')			
											{				
											window.location.href ='tqm-teamwork.php?msg=3';
											return false;
											}
						        }
			});
	
			return false;	
	} 
	
  function validatecomments() 
  {
	  var tqm1 = document.getElementById('diagnosis_result_tqm').value;
	  var tqm2 = document.getElementById('kaizen_idea_tqm').value;
	  var team1 = document.getElementById('diagnosis_result_tm').value;
	  var team2 = document.getElementById('kaizen_idea_tm').value ;
	if(tqm1.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("diagnosis_result_tqm").focus();
		return false;
	}
	if(tqm2.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("kaizen_idea_tqm").focus();
		return false;
	}
	if(team1.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("diagnosis_result_tm").focus();
		return false;
	}
	if(team2.trim() == '')
	{
		
		alert("Please enter the comments");
		document.getElementById("kaizen_idea_tm").focus();
		return false;
	}

	document.getElementById("hdaction1").value=1;
	//return true;
	 save();
	
}
</script>
</head>

<body>
	<div class="container">
		<div class="title">
			
			

<h2 style="text-align: center; display: inline-block; width: 100%;">
				Daily Management Diagnosis  <span style="float: right;"><a
					class="logout" href="Logout.php">Logout</a> </span>
</h2>
<div>
<ul class="menu">
<li> <a  class="active"  href="tqm-teamwork.php">TQM & Teamwork</a></li>
<li> <a  href="quality-management.php">Quality Management</a></li>
<li> <a  href="standard-operation.php">Standard Operation</a></li>
<li> <a  href="skill-management.php">Skill Management</a></li>
<li> <a  href="work-allocation.php">Work Allocation</a></li>
<li> <a  href="facility-management.php">Facility Management</a></li>
<li> <a  href="safety-environment.php">Safety & Environment</a></li>
<li> <a  href="cost-management.php">Cost Management</a></li>
<li> <a  href="report.php" style="border-right:none;">Report</a></li>


<li> <a  href="zone_change.php" style="border-right:none;">Zone Change</a></li>

<li> <a  href="allreport.php" style="border-right:none;">All Report</a></li>

<div class="clear"></div>
</ul>

</div>			<h3>Diagnosis Category : TQM & Teamwork</h3>
			<span id="details-tag" style="width: 100%; text-align: right; float: right;">
			<td class="border0 padd1"><b>Auditee:</b></td>
			<td class="border0 edit-data"></td><br>
			<td class="border0 padd1"><b>Auditor:</b></td>
			<td class="border0 edit-data">Suresh kumar.M </td>
			</span>

		</div>
		<div id="message"
			style="color: green; text-align: center; font-weight: bold;">
					</div>
		<div id="message"
			style="color: red; text-align: center; font-weight: bold;">
					</div>
		{{!-- &nbsp; &nbsp; &nbsp; &nbspnbsp; --}}

		<div class="table-div">
			<form name="tqm-team" method="post" action="">
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<tr class="bg-gray">
							<th style="width: 10%;" rowspan="2">Evaluation Item</th>
							<th style="width: 7%" class="small" colspan="5">Level</th>
							<th style="width: 20%;" rowspan="2">Alliance Compliance
								Requirement</th>
							<th style="width: 20%;" rowspan="2">Check Item</th>
							<th style="width: 7%" class="small" colspan="4">How</th>
							<th class="big" rowspan="2">Evaluation / Scoring Standard to
								achieve level</th>
						</tr>
												<input type="hidden" name="hdaction1" id="hdaction1" value="">
						<input type="hidden" name="level_totaltqm1" id="level_totaltqm1"
							value="0">
						<input type="hidden" name="level_totaltqm2" id="level_totaltqm2"
							value="0">
						<input type="hidden" name="level_totaltqm3" id="level_totaltqm3"
							value="0">
						<input type="hidden" name="level_totaltqm4" id="level_totaltqm4"
							value="0">
						<input type="hidden" name="level_totaltqm5" id="level_totaltqm5"
							value="0">
						<input type="hidden" name="sub_total" id="sub_total" value="">


						<tr class="bg-gray">
							<th style="width: 1%">1</th>
							<th style="width: 1%">2</th>
							<th style="width: 1%">3</th>
							<th style="width: 1%">4</th>
							<th style="width: 1%">5</th>
							<th>S</th>
							<th>D</th>
							<th>O</th>
							<th>G</th>

						</tr>
						<!--1st row -->
						
						<input type="hidden" name="hitqm11" id="hitqm11"
							value="">
						<tr>
							<td rowspan="8" class="text-center"><b>TQM</b></td>
							<td class="padd0 text-center"><select name="tqm_11" id="tqm_11"
								onchange="itemscore_level11(this); actualscore1();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-1 The Supervisor understands the relation between SV AOP and SSV 
								AOP and can explain it.  
								The Supervisor has an Annual Objective Plan and can
								explain the content, deployment logic and link to the Plant/Shop
								direction.</td>
							<td>
								<ul>
									<li>* SSV AOP</li>
									<li>* SV AOP</li>
									<li>* Sv's knowledge</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<h3>SV is able to explain the AOP content and deployment logic
									AOP must contain :</h3>
								<ul>
									<li>* targets & strategy and control items</li>
									<li>* correct deployment from Senior's AOP</li>
								</ul>
							</td>

						</tr>

						<!--2st row -->
												<input type="hidden" name="hitqm12" id="hitqm12"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="tqm_12" id="tqm_12"
								onchange="itemscore_level12 (this); actualscore1();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-2 TQM is visualised using Zone Management board and the progress
								is managed with the control charts. 
								The Supervisor has a TQM visual Management board to
								display the Control Charts showing performance against the
								Targets and Strategies.</td>
							<td>
								<h3>TQM Visual Management board</h3>
								<ul>
									<li>* Control charts for Policy objectives & strategies of the
										zone</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								</ul> TQM Visual Management board has Control Charts for Policy
								Objectives and Strategies</td>

						</tr>
						<!--3rd row -->
												<input type="hidden" name="hitqm21" id="hitqm21"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_21" id="tqm_21"
								onchange="itemscore_level21(this); actualscore2();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select></td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-1 The AOP includes challenging targets and robust strategies. 
								The Annual Objective Plan includes the relevant SQCTP
								KPI's, targets that challenge current zone performance and
								robust strategies to manage the zone's performance.</td>
							<td>
								<ul>
									<li>* SSV AOP</li>
									<li>* SV AOP</li>
									<li>* SV target setting logic</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<h3>SV is able to explain the targets & strategies AOP must contain 
									below two points and there are 3 or less minor issues:</h3>
				                                                             
								<ul>
									
									<li>* challenging targets targets for relevant SQCTP based on
										facts & data</li>
									<li>* Robust & quantifiable strategies to achieve the
										objectives 3 or less minor issues are OK</li>
								</ul>
							</td>



						</tr>
						<!--4th row -->
												<input type="hidden" name="hitqm22" id="hitqm22"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_22" id="tqm_22"
								onchange="itemscore_level22(this); actualscore2();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-2 Check the progress is managed using zone management board.
								The TQM Visual Management board contains the latest
								performance results from the previous month. Daily month to date
								performance for Quality and Delivery can be demonstrated.</td>
							<td>
								<h3>TQM Visual Management board</h3>
								<ul>
									<li>* RF1</li>
									<li>* Monthly Control charts</li>
									<li>* Month to date or daily management of Quality and delivery
										KPI</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>- Daily month to date data available for quality & delivery
										KPI</li>
									<li>- Monthly Control Charts updated by the 10th of the month</li>
									<li>- RF1 document with latest performance results.</li>
								</ul>
							</td>
						</tr>

						<!--5th row -->
												<input type="hidden" name="hitqm31" id="hitqm31"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_31" id="tqm_31"
								onchange="itemscore_level31(this); actualscore3();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-1 Monthly AOP performance reviews are taking place.Quick
								actions are taken to return to standard.</td>
							<td>
								<ul>
									<li>* Monthly performance review (RF1)</li>
									<li>* control charts</li>
									<li>* Quick actions</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<h3>SV can :</h3>
								<ul>
									<li>* demonstrate the performance Review is taking place using
										RF1</li>
									<li>* show the reasons for deviation on control charts</li>
									<li>* explain his improvement plan for the deviance to targets</li>
									<li>* explain quick actions to return to standard where
										appropriate</li>
								</ul>
							</td>

						</tr>


						<!--6th row -->
												<input type="hidden" name="hitqm41" id="hitqm41"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_41" id="tqm_41"
								onchange="itemscore_level41(this); actualscore4();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select></td>
							<td></td>
							<td>4-1 Countermeasures have been implemented for all causes of
								failed targets or kaizen Plans are in place to manage
								improvements.</td>
							<td>
								<ul>
									<li>* Kaizen Plan</li>
									<li>* Root cause analysis</li>
									<li>* Countermeasure</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<h3>SV can :</h3>
								<ul>
									<li>* Demonstrate correct root cause analysis</li>
									<li>* Show countermeasures for root cause analysis are in place
										on genba</li>
									<li>* Validate effectiveness of countermeasure or Kaizen Plan.</li>
									<li>* However if all problems are just Kaizen plan, evaluation is NG.</li>
								</ul>
							</td>

						</tr>


						<!--5th row -->
												<input type="hidden" name="hitqm51" id="hitqm51"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_51" id="tqm_51"
								onchange="itemscore_level51(this); actualscore5();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>

							<td>5-1 All of the QCT targets are challenging Global Best of the
								Best performance</td>
							<td>
								<ul>
									<li>* Benchmark knowledge</li>
									<li>* Control charts</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<h3>SV can :</h3>
								<ul>
									<li>* Show evidence of global benchmark targets</li>
									<li>KPI targets challenge global benchmark</li>
								</ul>
							</td>

						</tr>


						<!--5th row -->
												<input type="hidden" name="hitqm52" id="hitqm52"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tqm_52" id="tqm_52"
								onchange="itemscore_level52(this); actualscore5();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-2 Best practices are implemented and All KPI are achieving
								target condition to improve profitability and competitiveness</td>
							<td>
								<ul>
									<li>* Best practices adoption</li>
									<li>* Control charts</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<h3>SV can :</h3>
								<ul>
									<li>* show evidence of best practices adoption All KPI's are
										achieving target condition for the 3 previous months.</li>
								</ul>
							</td>

						</tr>

						<!--score row -->

						<input type="hidden" name="itemtqm" id="itemtqm"
							value="">
						<input type="hidden" name="total_item" id="total_itemtqm"
							value="0">
						<tr>
							<td class="text-center score-tit">Item Score</td>
							<td colspan="5" class="text-center"><span id="item_scoretqm">0							</span>
							</td>
							<td colspan="7" class="bg-gray"></td>

						</tr>
						<!--- for comments form auditor ---->
											<input type="hidden" name="Commentidtqm" id="Commentidtqm"
							value="">
						<tr >
							
							<td colspan="7" style="text-align: center;"><b>Diagnosis Result<br>
												(Result comments from Auditor)<b></td>
							<td colspan="6" style="text-align: center; color: blue;"><b >Kaizen Idea<br>
												(Recommended actions from the Auditor)</b></td>
						</tr>
						<tr >
							<td colspan="7" class="item2"><textarea rows="7" cols="50" id="diagnosis_result_tqm" name="diagnosis_result_tqm" style="width: 99%;" spellcheck="true" ></textarea></td>
							<td colspan="6" class="item2"><textarea rows="7" cols="50" id="kaizen_idea_tqm" name="kaizen_idea_tqm" style="width: 99%;" spellcheck="true" ></textarea></td>
						</tr>
						<!--- for comments form auditor  ------------->
						
						
						
						<!--Team Work  row -->

						<!--1st row -->
												<input type="hidden" name="hdaction2" id="hdaction2" value="">
						<input type="hidden" name="level_totaltm1" id="level_totaltm1"
							value="0">
						<input type="hidden" name="level_totaltm2" id="level_totaltm2"
							value="0">
						<input type="hidden" name="level_totaltm3" id="level_totaltm3"
							value="0">
						<input type="hidden" name="level_totaltm4" id="level_totaltm4"
							value="0">
						<input type="hidden" name="level_totaltm5" id="level_totaltm5"
							value="0">
						<input type="hidden" name="sub_totaltm" id="sub_totaltm" value="">
						<tr>
							<td rowspan="8" class="text-center"><b>Team Work</b></td>
														<input type="hidden" name="hitm11" id="hitm11"
								value="">
							<td class="padd0 text-center"><select name="tm_11" id="tm_11"
								onchange="return teamwork_level11(this); actualscore1();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-1 The Supervisor communicated the Annual Objective Plan and main
								KPI with team members.  
								The Supervisor has communicated the Annual Objectives and
								main SQCT KPI targets for the zone to their team.</td>
							<td>
								<ul>
									<li>* AOP communication</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<h3>SV can :</h3>
								<ul>
									<li>* explain how AOP objectives and targets are communicated</li>
								</ul>
							</td>

						</tr>

												<input type="hidden" name="hitm12" id="hitm12"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="tm_12" id="tm_12"
								onchange="return teamwork_level12(this); actualscore1();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-2 Daily communication with the team members.
								The Supervisor holds a daily communication session with
								his team to review the shifts SQCT performance levels.</td>
							<td>
								<ul>
									<li>* Start of shift briefing</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>
								<ul>
									<li>* Time is allocated for the start of shift briefing</li>
									<li>* The SV can show documented evidence of start of shift</li>
								</ul>
							</td>

						</tr>

												<input type="hidden" name="hitm13" id="hitm13"
							value="">
						<tr>
							<td class="padd0 text-center"><select name="tm_13" id="tm_13"
								onchange="return teamwork_level13(this); actualscore1();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>1-3 The Supervisor shares issues and work progress with their counterpart.
								The Supervisor ensures a robust handover session with
								their counterpart on the opposite shift.</td>
							<td>
								<ul>
									<li>* Zone supervisor handover</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>The SV can show documented evidence of supervisor handover</td>

						</tr>


						<!-- row4-->
												<input type="hidden" name="hitm21" id="hitm21"
							value="">
						<tr>
							<td></td>
							<td class="padd0 text-center"><select name="tm_21" id="tm_21"
								onchange="return teamwork_level21(this); actualscore2();">
									<option value="0" 										selected="selected"  >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td>2-1 The team members know the key Quality and Delivery KPI
								targets and current performance against these key targets.</td>
							<td>
								<ul>
									<li>* Team members awareness</li>
								</ul>
							</td>
							<td></td>
							<td></td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td>Ask up to 3 team members to explain Quality and Delivery targets and
								current performance. If the first 1 of them can explain it is okay. This should include the last quality defect
								from the work station.</td>

						</tr>


						<!-- row5-->
												<input type="hidden" name="hitm31" id="hitm31"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tm_31" id="tm_31"
								onchange="return teamwork_level31(this); actualscore3();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td></td>
							<td>3-1 Through 2-way communication, issues and suggestions for
								improvement are generated and recorded for follow-up and
								countermeasure. Where appropriate, quick actions are taken to
								return to standard.</td>
							<td>
								<ul>
									<li>* Team members suggestions</li>
									<li>* Quick actions</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<h3>The SV can :</h3>
								<ul>
									<li>- show documented evidence of improvements suggested by
										team members</li>
									<li>(sort the issues and suggesstions by Who, When and What, and decide due date for Quick actions)</li>
									<li>- show Quick actions implemented where appropriate</li>
								</ul>
							</td>

						</tr>
						<!-- row6-->
												<input type="hidden" name="hitm41" id="hitm41"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tm_41" id="tm_41"
								onchange="return teamwork_level41(this); actualscore4();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td></td>
							<td>4-1 Countermeasures are applied to the issues raised through
								effective 2-way communication.</td>
							<td>
								<ul>
									<li>* Countermeasures implementation</li>
								</ul>
							</td>
							<td></td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td>
								<h3>The SV can show:</h3>
								<ul>
									<li>- countermeasures for team member improvement suggestions
										are implemented in a reasonable time frame</li>
									<li>(Examples of permanent countermeasures can be checked.)</li>	
								</ul>
							</td>

						</tr>
						<!-- row7-->
												<input type="hidden" name="hitm51" id="hitm51"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tm_51" id="tm_51"
								onchange="return teamwork_level51(this); actualscore5();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-1 Permanent countermeasures are in place for concerns raised by Team members.
								All zone issues and suggestions resulting from effective
								communication are implemented by zone staff to promote operator
								engagement and teamwork.</td>
							<td>
								<ul>
									<li>* Team members involvement</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td></td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td>The SV can show improvements every month made with direct
								involvement from Team member.(3-1) Check if Team members are directly involved in the permanent countermeasures
							    based on documents. </td>

						</tr>

						<!-- row8-->
												<input type="hidden" name="hitm52" id="hitm52"
							value="">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="padd0 text-center"><select name="tm_52" id="tm_52"
								onchange="return teamwork_level52(this); actualscore5();">
									<option value="0" 										selected="selected" >0</option>
									<option value="1" >1</option>
							</select>
							</td>
							<td>5-2 System to give recognition to contributed operators is in place and they actually
								receive recognition.
								The Operators receive Recognition for positive
								contribution.</td>
							<td>
								<ul>
									<li>* Recognition activity</li>
								</ul>
							</td>
							<td class="text-center">0</td>
							<td class="text-center">0</td>
							<td></td>
							<td></td>
							<td>The SV can show that recognition has been given to team
								members every month for good suggestions and involvement</td>

						</tr>
						<!--score row -->

						<input type="hidden" name="itemidtm" id="itemidtm"
							value="">
						<input type="hidden" name="item_scoretm" id="item_scoretm"
							value="0">
						<tr>
							<td class="text-center score-tit">Item Score</td>
							<td colspan="5" class="text-center"><span id="total_itemtm">0							</span></td>
							<td colspan="7" class="bg-gray"></td>

						</tr>
						<!--- for comments form auditor  --->
										<input type="hidden" name="Commentidtm" id="Commentidtm"
							value="">
						<tr >
							
							<td colspan="7" style="text-align: center;"><b>Diagnosis Result<br>
												(Result comments from Auditor)<b></td>
							<td colspan="6" style="text-align: center; color: blue;"><b >Kaizen Idea<br>
												(Recommended actions from the Auditor)</b></td>
						</tr>
						<tr >
							<td colspan="7" class="item2"><textarea rows="7" cols="50" id="diagnosis_result_tm" name="diagnosis_result_tm" style="width: 98%;" ></textarea></td>
							<td colspan="6" class="item2"><textarea rows="7" cols="50" id="kaizen_idea_tm" name="kaizen_idea_tm" style="width: 98%;" ></textarea></td>
						</tr>
						<!--- for comments form auditor  ------------->
						<tr class="item1">
							<td colspan="6"><b>Category Score<b>
							
							</td>
							<td colspan="2" rowspan="5" class="item2"><b class="score-tit">Diagnosis
									Method:</b><br> 1. Commence diagnosis for level 1 for each
								Evaluation Item.<br> 2. Continue the diagnosis by level, if the
								Supervisors fails to deliver the Compliance Requirement within a
								level, complete the rest of the level and stop the diagnosis
								scoring for that particular Evaluation Item. If item is not
								applicable give the score and move to next item.<br> 3. For
								Diagnosis categories with more than 1 Evaluation Item, repeat
								step 2 for the next Evaluation Item.</td>
							<td colspan="5" rowspan="5" class="item2"><b class="score-tit">Key:</b><br>
								S = Talk to and request information from the Supervisor.<br> D =
								Request to see and then validate documentation.<br> O = Talk to
								and request information from the Operator.<br> G = Validate the
								actual condition in the Genba (shop floor).</td>

						</tr>
												<input type="hidden" name="c_id" id="c_id"
							value="">
						<input type="hidden" name="score1" id="score1"
							value="0">
						<input type="hidden" name="score2" id="score2"
							value="0">
						<input type="hidden" name="score3" id="score3"
							value="0">
						<input type="hidden" name="score4" id="score4"
							value="0">
						<input type="hidden" name="score5" id="score5"
							value="0">
						<tr>
							<td>Available score</td>
							<td>/5</td>
							<td>/3</td>
							<td>/2</td>
							<td>/2</td>
							<td>/4</td>
						</tr>
						<tr>
							<td>Actual Score</td>
							<td id="level1">0							</td>
							<td id="level2">0							</td>
							<td id="level3">0							</td>
							<td id="level4">0							</td>
							<td id="level5">0							</td>
						</tr>
						<input type="hidden" name="achieve1" id="achieve1"
							value="0">
						<input type="hidden" name="achieve2" id="achieve2"
							value="0">
						<input type="hidden" name="achieve3" id="achieve3"
							value="0">
						<input type="hidden" name="achieve4" id="achieve4"
							value="0">
						<input type="hidden" name="achieve5" id="achieve5"
							value="0">
						<tr>
							<td>Achievement %</td>
							<td id="achievement1">0%</td>
							<td id="achievement2">0%</td>
							<td id="achievement3">0%</td>
							<td id="achievement4">0%</td>
							<td id="achievement5">0%</td>
						</tr>

						<tr>
							<td>Category Rank</td>

							<input type="hidden" name="category" id="category"
								value="0.0">
							<td colspan="5" class="text-center" id="category-rank">0.0							</td>
						</tr> 			
					</tbody>
				</table>
				
				<div style="float: right" >
				<button type="button" id="btnsub" class="next" onclick="return validatecomments();">Save</button>
				</div>
			</form>


		</div>

	</div>

</body>
</html>
